# Strings & Printing

In [8]:
print("Hello Bobby\nHello Lohith")

Hello Bobby
Hello Lohith

In [9]:
print("""Hello Bobby
Hello Lohith""")

Hello Bobby
Hello Lohith

In [10]:
len("Hello Lohith")

12

In [11]:
message="Hello Lohith"
message[0]

'H'

In [12]:
message.split()[0]

'Hello'

In [13]:
message.lower()

'hello lohith'

In [14]:
message.upper()

'HELLO LOHITH'

In [17]:
message.count("Lohith")

1

In [21]:
message.count("h")

2

In [24]:
message.find("Lohith")

6

In [26]:
message.find("Madhu") ## Not present

-1

In [27]:
new_message=message.replace("Lohith","Madhu")

In [28]:
new_message

'Hello Madhu'

In [42]:
first="Hello"
second="Lohith"
print("{} {} you are welcome".format(first,second))

Hello Lohith you are welcome

In [44]:
dir(first) ## List all the methods for this

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [46]:
help(first.lower)

Help on built-in function lower:

lower() method of builtins.str instance
    Return a copy of the string converted to lowercase.

# Numbers

In [51]:
num=3.13
type(num)

float

In [55]:
nnum=-3.12
abs(nnum) # removes negative sign

3.12

In [53]:
round(num)

3

In [57]:
round(num,2)

3.13

In [61]:
num1="100"
num2="200"
int(num1)+int(num2) ## if num are strings

300

# List Tuples Sets

In [75]:
subjects=["Maths","Science","Arts","Commerce"]
subjects

['Maths', 'Science', 'Arts', 'Commerce']

In [76]:
subjects.append("Biology")
subjects

['Maths', 'Science', 'Arts', 'Commerce', 'Biology']

In [77]:
subjects.insert(2,"Sports")
subjects

['Maths', 'Science', 'Sports', 'Arts', 'Commerce', 'Biology']

In [78]:
subjects_2=["Artificial intelligence","Statistics"]
subjects.extend(subjects_2)
print(subjects)  ## used to add more elements from other list

['Maths', 'Science', 'Sports', 'Arts', 'Commerce', 'Biology', 'Artificial intelligence', 'Statistics']

In [79]:
subjects.remove("Arts")
print(subjects)

['Maths', 'Science', 'Sports', 'Commerce', 'Biology', 'Artificial intelligence', 'Statistics']

In [80]:
popped_items=subjects.pop(2)
print(popped_items)

Sports

In [83]:
subjects.reverse()
print(subjects)

['Statistics', 'Artificial intelligence', 'Biology', 'Commerce', 'Science', 'Maths']

In [85]:
nums=[4,2,6,4,8,10]
nums.sort()
nums

[2, 4, 4, 6, 8, 10]

In [86]:
nums.sort(reverse=True)
nums

[10, 8, 6, 4, 4, 2]

In [87]:
sorted_subjects=sorted(nums)
sorted_subjects ## Sorted can only be stored in a variable and used for later purpose

[2, 4, 4, 6, 8, 10]

In [88]:
subjects.index("Biology")

2

In [89]:
"Biology" in subjects

True

In [91]:
for subj in subjects:
    print(subj)

Statistics
Artificial intelligence
Biology
Commerce
Science
Maths

In [94]:
for index,subj in enumerate(subjects):
    print(index,subj) ## enumerate will fetch the index

0 Statistics
1 Artificial intelligence
2 Biology
3 Commerce
4 Science
5 Maths

In [95]:
for index,subj in enumerate(subjects,start=5):
    print(index,subj)

5 Statistics
6 Artificial intelligence
7 Biology
8 Commerce
9 Science
10 Maths

In [96]:
subj_str="-".join(subjects)
print(subj_str)

Statistics-Artificial intelligence-Biology-Commerce-Science-Maths

In [98]:
subjects=subj_str.split("-")
print(subjects) ## String back to list

['Statistics', 'Artificial intelligence', 'Biology', 'Commerce', 'Science', 'Maths']

In [101]:
subjects_tuple=("Arts","Science","Maths")
subjects_tuple ## Tuples are immutable

('Arts', 'Science', 'Maths')

In [102]:
for index,subj in enumerate(subjects_tuple,start=1):
    print(index,subj)

1 Arts
2 Science
3 Maths

In [104]:
sets={"Arts","Arts","Maths","Maths","Science"}
print(sets) ## remove duplicates

{'Arts', 'Science', 'Maths'}

### Count unique letters in a paragraph

In [105]:
txt="All over the world, mortality rates are being scrutinised to determine the true impact of the coronavirus, which emerged in China late last year and is known to have infected more than 2.7 million people globally, with nearly 190,000 deaths."

In [109]:
txt_list=txt.split()

In [114]:
len(txt_list)

40

In [116]:
len(set(txt_list))

37

### Check how many letters are repeating in two paragraphs

In [117]:
txt_2="Parts of India have recorded dramatic falls in mortality rates after a nationwide lockdown was imposed to fight the new coronavirus, suggesting there has not been an undetected surge in virus-related deaths."

In [124]:
txt_set=set(txt_list)

In [125]:
txt2_set=set(txt_2.split())

In [127]:
print(txt_set.intersection(txt2_set))

{'in', 'to', 'have', 'mortality', 'rates', 'of', 'coronavirus,', 'deaths.', 'the'}

In [129]:
print(txt_set.difference(txt2_set)) ## Which is is txt but not in txt2

{'world,', 'infected', 'scrutinised', 'nearly', 'known', 'late', 'year', 'and', 'are', 'people', 'which', 'with', 'being', 'true', 'last', 'determine', 'impact', 'All', 'over', 'than', 'million', '190,000', '2.7', 'is', 'globally,', 'emerged', 'more', 'China'}

In [130]:
empty_set=set()

# Dictionaries

In [131]:
student={"Name":"Bob","Age":29,"Courses":["Maths","Science"]}
student

{'Name': 'Bob', 'Age': 29, 'Courses': ['Maths', 'Science']}

In [132]:
student.get("Name")

'Bob'

In [136]:
print(student.get("Phone","Not found"))## .get is better since it returns none

Not found

In [137]:
student["Phone"]="8989898989"

In [138]:
student

{'Name': 'Bob',
 'Age': 29,
 'Courses': ['Maths', 'Science'],
 'Phone': '8989898989'}

In [140]:
student.update({"Name":"John","Age":32})
student

{'Name': 'John',
 'Age': 32,
 'Courses': ['Maths', 'Science'],
 'Phone': '8989898989'}

In [141]:
del student["Age"]
student

{'Name': 'John', 'Courses': ['Maths', 'Science'], 'Phone': '8989898989'}

In [143]:
for i in student.items():
    print(i)

('Name', 'John')
('Courses', ['Maths', 'Science'])
('Phone', '8989898989')

In [144]:
for i in student.keys():
    print(i)

Name
Courses
Phone

In [145]:
for i in student.values():
    print(i)

John
['Maths', 'Science']
8989898989

In [149]:
for i,j in student.items():
    print(i,j)

Name John
Courses ['Maths', 'Science']
Phone 8989898989

### Frequency of words

In [181]:
txt=txt.replace(","," ")
txt_list=txt.split()
print(txt_list)

['All', 'over', 'the', 'world', 'mortality', 'rates', 'are', 'being', 'scrutinised', 'to', 'determine', 'the', 'true', 'impact', 'of', 'the', 'coronavirus', 'which', 'emerged', 'in', 'China', 'late', 'last', 'year', 'and', 'is', 'known', 'to', 'have', 'infected', 'more', 'than', '2.7', 'million', 'people', 'globally', 'with', 'nearly', '190', '000', 'deaths.']

In [183]:
track={}
cnt=1
for i in txt_list:
    if i not in track.keys():
        track.update({i:cnt})
    else:
        track[i]+=1
print(track)

{'All': 1, 'over': 1, 'the': 3, 'world': 1, 'mortality': 1, 'rates': 1, 'are': 1, 'being': 1, 'scrutinised': 1, 'to': 2, 'determine': 1, 'true': 1, 'impact': 1, 'of': 1, 'coronavirus': 1, 'which': 1, 'emerged': 1, 'in': 1, 'China': 1, 'late': 1, 'last': 1, 'year': 1, 'and': 1, 'is': 1, 'known': 1, 'have': 1, 'infected': 1, 'more': 1, 'than': 1, '2.7': 1, 'million': 1, 'people': 1, 'globally': 1, 'with': 1, 'nearly': 1, '190': 1, '000': 1, 'deaths.': 1}